.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-container {
    background-color: var(--color-secundario);
    padding: 40px;
    border-radius: 12px;
    width: 420px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

h2 {
    margin-bottom: 30px;
    color: var(--color-primario);
}

.datos {
    margin-bottom: 30px;
}

.campo {
    margin-bottom: 20px;
    text-align: left;
}