body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/* Barra superior tipo HUD */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
    background-color: var(--color-secundario);

    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}

.logo {
    color: var(--color-primario);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.usuario {
    font-size: 14px;
    color: var(--color-texto-secundario);
}

/* Contenedor principal */
.menu {
    max-width: 700px;
    margin: 90px auto; /* antes 80px */
    text-align: center;
}

h2 {
    margin-bottom: 40px;
    color: var(--color-primario);
}

/* GRID JUEGO */
.grid-juego {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px; /* antes 20px */
}

/* Para que el tutorial ocupe toda la fila */
.grid-juego button:nth-child(3) {
    grid-column: span 2;
}

/* GRID SECUNDARIO */
.grid-secundario {
    display: flex;
    justify-content: center;
    gap: 30px; /* antes 20px */
    margin-top: 60px; /* antes 40px */
}

/* BOTONES */
.btn {
    border: none;
    border-radius: 10px;
    cursor: pointer;

    background-color: var(--color-boton);
    color: var(--color-secundario);

    font-weight: bold;

    transition: all 0.2s ease;
}

.btn:hover {
    background-color: var(--color-boton-hover);
    transform: scale(1.05);
}

/* Botones grandes (juego) */
.grande {
    padding: 35px; /* antes 25px */
    font-size: 22px;
}

/* Botones pequeños */
.pequeño {
    padding: 12px 20px;
    font-size: 14px;
}

.mesa-img {
    position: fixed;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    max-width: 90%;
    opacity: 0.9;
    pointer-events: none; /* para que no moleste clicks */
}