body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
    background-color: var(--color-secundario);

    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}

.logo {
    color: var(--color-primario);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.usuario {
    font-size: 14px;
    color: var(--color-texto-secundario);
}

.menu {
    max-width: 700px;
    margin: 90px auto;
    text-align: center;
}

h2 {
    margin-bottom: 40px;
    color: var(--color-primario);
}

.grid-juego {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.grid-juego button:nth-child(3) {
    grid-column: span 2;
}

.grid-secundario {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}

.grande {
    padding: 35px;
    font-size: 22px;
}

.pequeño {
    padding: 12px 20px;
    font-size: 14px;
}

.mesa-img {
    position: fixed;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    max-width: 90%;
    opacity: 0.9;
    pointer-events: none;
}