body {

    margin: 0;

    background-color: var(--color-fondo);

    color: white;

    font-family: Arial;
}

.main {

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;
}

.contenedor {

    background-color: var(--color-secundario);

    padding: 40px;

    border-radius: 15px;

    width: 400px;

    text-align: center;
}

.contenedor h1 {

    color: var(--color-primario);
}

.btn {

    width: 100%;

    margin-top: 15px;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background-color: var(--color-boton);

    font-weight: bold;

    cursor: pointer;
}

.btn:hover {

    background-color: var(--color-boton-hover);
}

.top-bar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 15px 30px;

    background-color: var(--color-secundario);

    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}

.logo {

    color: var(--color-primario);

    font-weight: bold;

    font-size: 20px;

    letter-spacing: 2px;
}

.usuario {

    color: var(--color-texto-secundario);

    font-size: 14px;
}


/* PARTÍCULAS */

.particulas {

    position: fixed;

    inset: 0;

    overflow: hidden;

    z-index: -1;

    pointer-events: none;
}

.particulas span {

    position: absolute;

    width: 6px;

    height: 6px;

    background: rgba(255,255,255,0.15);

    border-radius: 50%;

    animation: subir linear infinite;
}

@keyframes subir {

    from {

        transform: translateY(100vh);

        opacity: 0;
    }

    10% {

        opacity: 1;
    }

    90% {

        opacity: 1;
    }

    to {

        transform: translateY(-120px);

        opacity: 0;
    }
}